{% extends "base.html" %}
{% block content %}
<div class="col-md-12" align="center">
    <h2> Please Fill Out The Registration Form:</h2>
    <br>
    <h4>Pay attention to whether you wish to become a buyer or seller!</h4>
    <br>
</div>

<div class="row" align="center">
    <div class="container createaccount" align="center">
        <p></p>
         <div class="col-md-12">
            <form action="/CreateAccount" method = "POST">
                E-mail<br>
                <input type="email" name="email">
                <br>
                First Name<br>
                <input type="text" name="FirstName">
                <br>
                Last Name<br>
                <input type="text" name="LastName">
                <br>
                Location (Please enter your City, State)<br>
                <input type="text" name="Location">
                <br>
                Password<br>
                <input type="password" name="password">
                <br>
                <input type="radio" name="type" value="0" checked> Buyer<br>
                <input type="radio" name="type" value="1"> Seller<br>
                <input type="submit" value="Submit">
            </form>

            <P>When you click the submit button, your account
            will be created.</P>
         </div>
    </div>
</div>
{% endblock %}