<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
</head>
<body>

<h2>Please Fill Out The Registration Form:</h2>
<br>
<h4>Pay attention to whether you wish to become a buyer or seller!</h4>
<br>
<form action="/LoginForm">
    E-mail:<br>
    <input type="email" name="email">
    <br>
    First Name:<br>
    <input type="text" name="FirstName">
    <br>
    Last Name:<br>
    <input type="text" name="LastName">
    <br>
    Location: (Please enter your City, State)<br>
    <input type="text" name="Location">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br>
    Confirm-Password:<br>
    <input type="password" name="ConfirmPassword">
    <br>
    <input type="radio" name="type" value="buyer" checked> Buyer<br>
    <input type="radio" name="type" value="seller"> Seller<br>
    <br><br>
    <input type="submit" value="Submit">
</form>

<P>When you click the submit button, your account
will be created.</P>

</body>
</html>