<!--    Developer: Hunter Hatchette -->

{% extends "base.html" %}
{% block content %}
<div class="row jumbotron">
	<h1 class="col-lg text-center">BidTown<small>&ensp;Seller Applications</small></h1>
</div>

<section class="results">
<div class="col">
<ul>
 {% for item in item_list['item'] %}
    <div class="row">
	   <li class="result">

			<a href="/item/{{ item[0] }}">
			<label for="{{item[3]}}">{{ item[3] }}</label><br>
			<img id="{{item[3]}}" src="{{item[4]}}" width="15%" height="25%"/>

			<p>Current Bid: ${{item[6]}}</p>
		   </a>
	   </li>
    </div>
 {% endfor %}
</ul>
</div>
</section>
<div>
    <!-- <label for="{{[bidtown_session_key][1]}}">{{ [bidtown_session_key][1] }}</label> -->
    <!-- <label for="{{[session.cookies[4]}}">{{ session.cookies[4] }}</label> -->
</div>

{% endblock %}