<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="static/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Galada">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<header>
	<section class="section-header">
		<div class="topnav">
			<ul>
			  <li><a href="/HomePage">BidTown</a></li>
			  <li><a href="/browse">Browse</a></li>
			  <li><a href="/EndingSoon">Ending Soon</a></li>
			  <li><a href="/TopSellers">Top Sellers</a></li>
			  <li><a href="/CreateAccount">Account</a></li>
			{% if userLog %}
			<li><a href="#">Logout</a></li>
			{% elif not userLog %}
			<li><a href="/Login">Login</a></li>
			{% endif %}
			</ul>
		</div>

	</section>
</header>

<body>

	<section class="section-content">
	{% block content %}
        <!-- Page content will be placed here by whatever view inherits from this template -->
	{% endblock %}
	</section>
</body>

<footer class="footer">
  <p>&#169; Bidtown.com</p>
</footer>
</html>
