<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/grid.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Galada">
<!--	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
    <header>
	<section class="header">
        <div class="topnav">
        <div class="row">
			<ul>
			  <li class="span-1-of-6"><a class="btn nav-btn" href="/HomePage">BidTown</a></li>
			  <li class="span-1-of-6"><a class="btn nav-btn" href="/browse">Browse</a></li>
			  <li class="span-1-of-6"><a class="btn nav-btn" href="/EndingSoon">Ending Soon</a></li>
			  <li class="span-1-of-6"><a class="btn nav-btn" href="/TopSellers">Top Sellers</a></li>

				{% if not userLog %}
				<li class="span-1-of-6"><a class="btn nav-btn btn-call-to-action" href="/CreateAccount">Sign up</a></li>
				{% elif userLog %}
				<li class="span-1-of-6"><a class="btn nav-btn btn-call-to-action" href="/AccountDash">{{name}}</a></li>
				{% endif %}

				{% if userLog %}
				<li class="span-1-of-6"><a class="btn nav-btn" href="/Logout">Logout</a></li>
				{% elif not userLog %}
				<li class="span-1-of-6"><a class="btn nav-btn" href="/Login">Login</a></li>
				{% endif %}
			</ul>
        </div>
        </div>
	</section>
    </header>
    
	<section class="content">
	{% block content %}
        <!-- Page content will be placed here by whatever view inherits from this template -->
	{% endblock %}
	</section>
    
<footer class="section">
    <div class="row">
        <p class="col copyright">&#169; Bidtown.com</p>
    </div>
</footer>

</body>
</html>
