<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Galada">
	<title>BASE</title>
</head>

<header>
	<section class="section-header">
		<div class="topnav">
			<ul>
			  <li><a href="/HomePage">BidTown</a></li>
			  <li><a href="/browse">Browse</a></li>
			  <li><a href="/EndingSoon">Ending Soon</a></li>
			  <li><a href="/TopSellers">Top Sellers</a></li>
			  <li><a href="/SellItem">Sell</a></li>
			  <li><a href="/CreateAccount">Register</a></li>
			  <li><a href="/Login">Login</a></li>
			</ul>
		</div>
	</section>
</header>

<body>
	<section class="section-content">
	{% block content %}
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<p>line</p>
		<!-- content from other templates gets stacked here. -->
	{% endblock %}
	</section>
</body>

<footer>
	<section class="section-footer">
	<!-- footer content, if needed -->
	</section>
</footer>
</html>
