{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="col-lg text-center">BidTown<small>&ensp;Search for Exotic Animals Here!</small></h1>
</div>

<div class="filter-feature">
    <form class="filter-by-class" action="/filter" method="get">
        <h4>Filter your Results</h4>
        <br/>
        <!--<label for="Class">Choose an animal type</label><br/>-->
        <select id="Class" name="Class" size="1">
            <option value="Bird" {%if ClassType == "Bird" %}selected="selected"{%endif%}>Bird</option>
            <option value="Bug" {%if ClassType == "Bug" %}selected="selected"{%endif%}>Bug</option>
            <option value="Mammal" {%if ClassType == "Mammal" %}selected="selected"{%endif%}>Mammal</option>
            <option value="Reptile" {%if ClassType == "Reptile" %}selected="selected"{%endif%}>Reptile</option>
        </select>
        <input class="submit-button" type="submit" value="Narrow Search">
    </form>
</div>

<br/>

{% if ClassType is not none %}
<div class="filter-feature">
<label for="attributes">attributes:</label>
<form class="filter-by-attributes" id="attributes"action="/filter" method="get">
    <input type="hidden" id="{{ClassType}}" name="Class" value="{{ClassType}}">
    {% for x in range(2, attributes|length) %}
    <label for="{{ attributes[x] }}">{{ attributes[x] }}</label>
    <input type="checkbox" id="{{ attributes[x] }}" name="{{ x-2 }}"  value="{{attributes[x]}}"/>
    {% endfor %}


    <input class="submit-button" type="submit" value="Filter by Attribute"/>
</form> <!-- end filter-by-attributes form-->
    <br>

    <br>
<div class="results">
<label for="filter-results-by-class">Results:</label>
    <ul id="filter-results-by-class">
    {% for item in item_list %}
    <div class="result">
        <div class="row">
            <li>    
                <a href="/item/{{ item[0] }}">
                <div class="col span-1-of-3">
                <label for="{{item[3]}}">{{ item[3] }}</label><br/>
                <img id="{{item[3]}}" src="{{item[4]}}" width="15%" height="25%"/>
                </div>

                <div class="col span-1-of-3">
                <h6>Description</h6>
                </div>

                <div class="col span-1-of-3">
                <p>Current Bid: ${{item[6]}}</p>
                </div>
                </a>
            </li>
        </div>
    </div>
    {% endfor %}
    </ul>
</div>

</div> <!-- end filter-feature div -->
{% endif %}
{% endblock %}