{% extends "base.html" %}
{% block content %}
<style>
.jumbotron {
padding-top: 10px;
padding-bottom: 20px;
color: #2f2f2f;
background-color: #1897e0;
margin-bottom: 0px;
}
</style>

<title>BidTown Search Page</title>
<div class="jumbotron">
    <h1 class="col-lg text-center">BidTown<small>&ensp;Search for Exotic Animals Here!</small></h1>
</div>

<div class="filter-feature">
<form class="filter-by-class" action="/filter" method="POST">
    <h4>Filter your Results</h4>
    <p></p>
    <!--<label for="Class">Choose an animal type</label><br/>-->
    <select id="Class" name="Class" size="1">
        <option value="Bird">Bird</option>
        <option value="Bug">Bug</option>
        <option value="Mammal">Mammal</option>
        <option value="Reptile">Reptile</option>
    </select>
    <input class="submit-button" type="submit" value="Narrow Search">
</form>
</div>

<br/>

{% if ClassType is not none %}
<div class="filter-feature">
    <!-- HANDLES THE BIRD -->
<label for="attributes">attributes:</label>
<form class="filter-by-attributes" id="attributes"action="/filterbird" method="post">
    {% for x in range(2, attributes|length) %}
    <label for="{{attributes[x]}}">{{attributes[x]}}</label>
    <input type="checkbox" id="{{attributes[x]}}" name="{{attributes[x]}}"  value="{{attributes[x]}}"/>
    {% endfor %}


    <input class="submit-button" type="submit" value="Filter by Attribute"/>
</form> <!-- end filter-by-attributes form-->
    <br>

    <br>
    <label for="filter-by-class">Results:</label>
    <ol id="filter-by-class">
    {% for item in item_list %}
        <br>
        <li>
            <p>{{ item[3] }}</p>
            <img src="{{item[4]}}" width="15%" height="15%"/>
            <p>Current Bid: ${{item[6]}}</p>
        </li>
    {% endfor %}
    </ol>

<!--{% for bird in bird_list %}-->
<!--<h1 style="color:blue;">{{ bird[3] }}</h1><br>-->
<!--<img src="{{bird[4]}}"-->
<!--width="15%" height="25%"><img><br>-->
<!--<p>Current Bid: ${{bird[6]}}</p>-->
<!--{% endfor %}-->
</div> <!-- end filter-feature div -->
{% endif %}



{% endblock %}