<!--    Developer: Hunter Hatchette -->

{% extends "base.html" %}
{% block content %}
<div class="row jumbotron">
	<h1 class="col-lg text-center">BidTown<small>&ensp;Buyer Dashboard</small></h1>
</div>

    <div>
        <li class="span-1-of-6"><a class="btn nav-btn" href="/BidIndex">Current Bids</a></li>
        <li class="span-1-of-6"><a class="btn nav-btn" href="/WatchingIndex">Watching</a></li>
        <li class="span-1-of-6"><a class="btn nav-btn" href="/BoughtIndex">Bought Items</a></li>
    </div>

{% endblock %}