{% extends "base.html" %}
{% block content %}
<div class="row jumbotron">
	<h1 class="col-lg text-center">BidTown<small>&ensp;Bid On Exotic Animals Here!</small></h1>
</div>
<section class="results">

<ul> 
 {% for item in item_list['item'] %}
    <div class="result">
    <div class="row">
	   <li>    
        <a href="/item/{{ item[0] }}">
        <div class="col span-1-of-3">
            <label for="{{item[2]}}">{{ item[2] }}</label><br/>
            <img id="{{item[2]}}" src="{{item[3]}}" width="30%" height="35%"/>
        </div>

        <div class="col span-1-of-3">
            <h6>Description</h6>
            <ul>
                <p>{{item[13]}}</p>
            </ul>
        </div>
        
        <div class="col span-1-of-3">
            <ul>
                <li>Current Bid: ${{item[6]}}</li>
                <li>{{item[7]}} bids</li>
                <li>seller: {{item[10]}} {{item[11]}}</li>
            </ul>
        </div>
        </a>
	   </li>
    </div>
    </div>
 {% endfor %}
</ul>

</section>
{% endblock %}