{% extends "base.html" %}
{% block content %}
<div class="row jumbotron">
	<h1 class="col-lg text-center">BidTown<small>&ensp;Bid On Exotic Animals Here!</small></h1>
</div>
<section class="results">

<ul> 
 {% for item in item_list['item'] %}
    <div class="result">
    <div class="row">
	   <li>    
        <a href="/item/{{ item[0] }}">
        <div class="col span-1-of-3">
            <label for="{{item[3]}}">{{ item[3] }}</label><br/>
            <img id="{{item[3]}}" src="{{item[4]}}" width="15%" height="25%"/>
        </div>

        <div class="col span-1-of-3">
            <h6>Description</h6>
        </div>
        
        <div class="col span-1-of-3">
            <p>Current Bid: ${{item[6]}}</p>
        </div>
        </a>
	   </li>
    </div>
    </div>
 {% endfor %}
</ul>

</section>
{% endblock %}