<!-- Developer: Hunter Hatchette
     Accomplished: Create an item form -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItemForm</title>
</head>
<body>

<h1 style="color:blue;">Insert Item Name Here</h1><br>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Eastern_Bluebird-27527-2.jpg"
     width="50%" height="50%"><img><br>
<p>Current Bid: $0</p>
<form action="" method="post">
    <h4>Please place a bid:</h4><br>
    <input type="radio" name="bid" value="1" checked> $1<br>
    <input type="radio" name="bid" value="5"> $5<br>
    <input type="radio" name="bid" value="10"> $10<br>
    <input type="radio" name="bid" value="50"> $50<br>
    <input type="radio" name="bid" value="100"> $100<br>
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>