<!-- Developer: Hunter Hatchette
     Accomplished: Create an item form -->
<!-- Developer: Chris Torok
     Created item display templating -->

{% extends "base.html" %}
{% block content %}
{% if item_data|length != 0 %}
    <h1 style="color:blue;">{{ item_data['item'][3] }}</h1><br>
    <img src="{{item_data['item'][4]}}"
         width="50%" height="50%"><img><br>
    <p>Current Bid: ${{item_data['item'][6]}}</p>

    <form action="/place-bid" method="post">
	<ul style="list-style-type:none">
        <h4>Please place a bid:</h4>
        <li><input type="radio" name="bid" value="1" checked>$1 </li>
        <li><input type="radio" name="bid" value="5"> $5 </li>
        <li><input type="radio" name="bid" value="10"> $10 </li>
        <li><input type="radio" name="bid" value="50"> $50 </li>
        <li><input type="radio" name="bid" value="100"> $100 </li>
        <input type="hidden" name="expected-bidcount" value="{{item_data['item'][7]}}">
        <input type="hidden" name="item-id" value="{{item_data['item'][0]}}"> <!-- security: exposes primary key on browser -->
        <input type="submit" value="Submit">
    </ul>
    </form>
{% else %}
    <p>The item doesn't exist</p>
{% endif %}
{% endblock %}