<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Please Login:</h2>
<br>
<form action = "/Login" method = "POST">
    E-mail:<br>
    <input type="email" name="email">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Submit">
</form>

{% if not Logged_In %}
<p> Logged in Failed Try Again or Create an Account! :)</p>
{% endif %}

</body>
</html>
{% endblock %}