{% extends "base.html" %}
{% block content %}

{% if not Logged_In %}
         <div class="row">
             <div class="col-md-10" align="center">
             </div>
             <div class="container login">
                 <div class="col-md-7" align="center">
                    <h2> Login</h2>
                    <form action = "/Login" method = "POST">
                        E-mail:<br>
                        <input type="email" name="email">
                        <br>
                        Password:<br>
                        <input type="password" name="password">
                        <br><br>
                        <input type="submit" value="Submit">
                    </form>
                 </div>
             </div>
         </div>

{% endif %}

{% endblock %}