<!--    Developer: Hunter Hatchette -->

{% extends "base.html" %}
{% block content %}
    <h1>Sell</h1>

    <form action='/ListItem' method="POST">
	<ul>
        <h4>List an Animal For Sale:</h4>
        Name:<br>
        <input type="text" name="name">
        <br>
        URL: (please paste the URL of your image)<br>
        <input type="url" name="url">
        <br>
        Starting Bid: (specify the price you want it to start at)<br>
        <input type="number" name="start_bid">
        <br>
        Starting Date: (Please enter start date)<br>
        <input type ="date" name = "start_date">
        <br>
        End Date: (Please enter end date)<br>
        <input type ="date" name = "end_date">
        <br>
        Location:<br>
        <input type="text" name="location">
        <br>
         Description: (Please describe the item for buyers)<br>
        <input type="text" name="description">
        <br>
        Weight:<br>
        <input type="number" name="weight">
        <br>
        Age:<br>
        <input type="number" name="age">
        <br><br>
        Please Select the Animal Type:
        <li><input type="radio" name="type" value="Bird">Bird</li>          <!--Type 1-->
        <li><input type="radio" name="type" value="Bug">Bug</li>            <!--Type 2-->
        <li><input type="radio" name="type" value="mammal">Mammal</li>      <!--Type 3-->
        <li><input type="radio" name="type" value="reptile">Reptile</li>    <!--Type 4-->
        <br><br>
        <input type="submit" value="Submit">
    </ul>
    </form>
{% endblock %}